header{
  text-align: left;
  font-size: 64px;
  color: #000000;
  letter-spacing: 1.2px;
  font-family: fantasy;
  position: relative;
  left: 20px;
  top: -10px;
}
body{
  background-color: #d10808;
  font-size: 20px;
  letter-spacing: 1.2px;
  font-family: arial;
  position: relative;
  top: 30px;
}
h1{
  color: #000000;
}
p{
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-family: arial;
  position: relative;
  top: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
  position: -webkit-sticky;
  position: sticky;

  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#d10808;
  color: #fff;
}